<h1 style="text-align: left;"><img alt="" src="//cdn.shopify.com/s/files/1/1250/1489/files/Solomon_Chancellor_02_1_small.jpg?v=1472441076" style="display: block; float: none; margin-left: auto; margin-right: auto;"></h1>
<h6 style="text-align: center;"><span>The beginning of wisdom is this: </span></h6>
<h6 style="text-align: center;">Get wisdom!</h6>
<h6 style="text-align: center;"><span>Though it cost all you have, get understanding.</span></h6>
<h6 style="text-align: center;">- Proverbs 4:7 -</h6>