<!-- Top Image w/ Category Text -->

{% unless article.tags == empty %}
  <header class="blog_header">
    <div class="blog_header_image">
      <img src="{{ 'blog_header.jpg' | asset_url }}" />
    </div>
    <div class="blog_header_text">
      {% for tag in article.tags %}
        <h1>{{ tag }}</h1>
      {% endfor %}
    </div>
  </header>
{% endunless %}

<div class="container">

{% paginate article.comments by 100 %}
  
  <div class="twelve columns {% if settings.sidebar_enabled == false %}offset-by-two{% endif %}">
    <div class="section clearfix">

      {% if settings.blog_tags and settings.sidebar_enabled %}
        <div class="blog_meta tags {% if article.image and settings.slideshow_article_enabled %}right{% endif %}">
          {% for tag in article.tags %}
            <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span> 
          {% endfor %}
        </div>
      {% endif %}

      {% unless article.image and settings.slideshow_article_enabled %}
        <h1 class="{% unless settings.sidebar_enabled %}center{% endunless %} article_title">{{ article.title }}</h1>
        {% unless settings.sidebar_enabled %}
          <div class="feature_divider"></div>
        {% endunless %}
      {% endunless %}

        <p class="blog_meta">
          <h1>{{ article.title }}</h1>

          {% if settings.blog_date %}
            <span>{{ article.published_at | date: format: "month_day_year" }}</span>
          {% endif %}
          
          {% if settings.blog_comment_count %}
            {% if settings.disqus_enabled %}
              <span>
                <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
              </span>
            {% elsif article.comments_enabled? and article.comments_count > 0 %}
              <span>
                <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
              </span>
            {% endif %}
          {% endif %}
        </p>

        {% if article.image and settings.slideshow_article_enabled == false %}
          <p>
            <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.title | escape }}" />
          </p>
        {% endif %}

        {{ article.content }}

        <span class="clear"></span>
      
        {% if settings.display_social_buttons %}
          <div class="share-button"></div>
        {% endif %}
        <br class="clear" />

        <div class="clear" id="comments"></div>
        <br class="clear" />

        {% if settings.disqus_enabled %}
          <div id="disqus_thread"></div>
          <script>
              var disqus_config = function () {
                  this.page.url = "{{ canonical_url }}";
                  this.page.identifier = "{{ article.id }}";
              };
              (function() { 
                  var d = document, s = d.createElement('script');
                  s.src = '//{{ settings.disqus_shortname }}.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        {% elsif blog.comments_enabled? %}
          {% if article.comments_count > 0 %}
            <h4>{{ 'blogs.comments.response_count' | t: count: article.comments.size }}</h4> 
        
            {% for comment in article.comments %}
              <div id="comment-{{ comment.id }}" class="comment clearfix">
                <div class="gravatar two columns alpha center" data-email="{{ comment.email }}">
                  <img src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=80&r=G" alt="{{ comment.author }}" />
                </div>
                <div class="comment-body eight columns omega">
                  <h6>{{ comment.author }}</h6>
                  <p class="meta">
                    <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                  </p>

                  {{ comment.content }}
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if comment and comment.created_at %}
            {% if article.comments_count == 0 %}
              <h4>{{ 'blogs.comments.response_count' | t: count: article.comments.size }}</h4> 
            {% endif %}
            <div id="comment-{{ comment.id }}" class="comment clearfix">
              <div class="gravatar two columns alpha center" data-email="{{ comment.email }}">
                <img src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=80&r=G" alt="{{ comment.author }}" />
              </div>
              <div class="comment-body eight columns omega">
                <h6>{{ comment.author }}</h6>
                <p class="meta">
                  <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                </p>

                {{ comment.content }}
              </div>
            </div>
          {% endif %}

          {% include 'pagination' with settings.sidebar_enabled %}

          <div class="clear" id="new-comment"></div>
          <h4>{{ 'blogs.comments.title' | t }}</h4>

          {% if blog.moderated? %}
            <p><em>{{ 'blogs.comments.moderated' | t }}</em></p>
          {% endif %}

          {% form article %}
            {% if form.posted_successfully? %}
              {% if blog.moderated? %}
                <p class="quote align_left">{{ 'blogs.comments.success_moderated' | t }}</p>
              {% else %}
                <p class="quote align_left">{{ 'blogs.comments.success' | t }}</p>
              {% endif %}
            {% endif %}

            {% if form.errors %}
              <p class="quote align_left">{{ 'general.forms.post_error' | t }}</p>
            {% endif %}

            <div class="six columns alpha">
              <label for="comment_author">{{ 'blogs.comments.name' | t }} <span class="red">*</span></label>
              <input type="text" id="comment_author" name="comment[author]" value="{{ form.author }}" required="required" />
            </div>

            <div class="six columns omega">
              <label for="comment_email">{{ 'blogs.comments.email' | t }} <span class="red">*</span></label>
              <input type="text" id="comment_email" name="comment[email]" value="{{ form.email }}" required="required" />
            </div>

            <label for="comment_body">{{ 'blogs.comments.comment' | t }} <span class="red">*</span></label>
            <textarea id="comment_body" name="comment[body]" rows="5" required="required">{{ form.body }}</textarea>
          
            <input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="action_button add_to_cart" />
          {% endform %}
        {% endif %}
    </div>

    {% if settings.blog_additional_articles and blog.articles_count > 1 %}
      <div class="section clearfix">
        <hr />
        <h3>{{ 'blogs.article.additional_articles' | t: title: blog.title }}</h3>

        {% assign article_found = false %}
        {% for a in blog.articles limit: 4 %}
          {% assign skip_article = false %}
          {% if article_found == false and forloop.last %}
            {% assign skip_article = true %}
          {% endif %}
          {% if article.id == a.id %}
            {% assign article_found = true %}
            {% assign skip_article = true %}
          {% endif %}
          {% unless skip_article %}
            <div class="four columns {% cycle 'alpha', ' ', 'omega' %} article">
              {% if a.image %}
                <a href="{{ a.url }}" title="{{ a.title | escape }}">
                  <img src="{{ a.image | img_url: 'grande' }}" alt="{{ a.title | escape }}" />
                </a>
              {% endif %}

              {% if settings.blog_tags %}
                <div class="blog_meta tags">
                  {% for tag in a.tags %}
                    <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span> 
                  {% endfor %}
                </div>
              {% endif %}

              <h5 class="sub_title">
                <a href="{{ a.url }}" title="{{ a.title | escape }}">{{ a.title }}</a>
              </h5>
              <p class="blog_meta">

                {% if settings.blog_date %}
                  <span>{{ a.published_at | date: format: "month_day_year" }}</span>
                {% endif %}
                
                {% if settings.disqus_enabled %}
                  <span>
                    <a href="{{ a.url }}#disqus_thread" data-disqus-identifier="{{ a.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                  </span>
                {% elsif a.comments_enabled? and a.comments_count > 0 %}
                  <span>
                    <a href="{{ a.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: a.comments_count }}</a>
                  </span>
                {% endif %}
              </p>

            </div>
          {% endunless %}
        {% endfor %}
      </div>
    {% endif %}    
  </div>

  {% include "blog-sidebar" with blog.handle %}

  <script type="text/javascript">
    // <![CDATA[  
      $(function() {    
        if(window.location.pathname.indexOf('/comments') != -1) {
          $('html,body').animate({scrollTop: $("#new-comment").offset().top-140},'slow');
        }
      });
    // ]]>
  </script>
{% endpaginate %}  