{% capture positions %}{{ settings.position_1 }},{{ settings.position_2 }},{{ settings.position_3 }},{{ settings.position_4 }},{{ settings.position_5 }},{{ settings.position_6 }},{{ settings.position_7 }},{{ settings.position_8 }},{{ settings.position_9 }},{{ settings.position_10 }},{{ settings.position_11 }},{{ settings.position_12 }},{{ settings.position_13 }},{{ settings.position_14 }},{{ settings.position_15 }},{{ settings.position_16 }}{% endcapture %}
{% assign positions = positions | split: ',' %}

<div id="slide-1" class="slide {% if settings.banner_video %}header-video{% endif %}">
  <div class="bcg header-video--media"
      data-video-src="{{ settings.banner_video_id }}" 
      data-provider="{{ settings.banner_video_source }}" 
      data-video-width="{{ settings.banner_video_width }}" 
      data-video-height="{{ settings.banner_video_height }}"
      data-video-mp4="{{ settings.banner_video_mp4 }}"
      data-video-ogv="{{ settings.banner_video_ogv }}"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -200px;"
      data-anchor-target="#slide-1">
      <div class="hsContainer" id="video-trigger">
          <div class="hsContent {{ settings.image_1_text_align }}"
              data-100-top="opacity: 1"
              data-25-top="opacity: 0"
              data-anchor-target="#slide-1 .animated">
          <div class="{{ settings.headline_animation }} {% if settings.headline_animation != blank %}animated delay-025s{% endif %}">
                {% if settings.image_1_headline != blank %}
                  <h1 class="headline" style="color:{{settings.banner_color}}">{{ settings.image_1_headline }}</h1>
                {% endif %}
                {% if settings.image_1_subtitle != blank %}
                  <p class="subtitle" style="color:{{settings.banner_color}}">{{ settings.image_1_subtitle }}</p>
                {% endif %}
                {% if settings.image_1_button_text != blank %}
                  <a href="{{ settings.image_1_link }}" class="action_button">
                    {{ settings.image_1_button_text }}
                  </a>
                {% endif %}
          </div>
          {% if settings.homepage_arrow %}
            <a href="#pagecontent" class="scroll-arrow animated fadeInDown"></a>
          {% endif %}
          </div>
      </div>
  </div>
</div>
<a name="pagecontent" id="pagecontent"></a>

<!-- Mobile Name -->

<h2 class="mobile_name">Solomon Chancellor</h2>

<!-- Homepage Blocks -->

<section class="homepage_blocks">
  <div class="sc_container">
    <div class="sc_row">
      <div class="column_2_3">
        <a class="individual_block" style="background-image: url({{ 'homepage_leather_bags.jpg' | asset_url }});" href="/collections/leather-bags">
           <div class="individual_block_overlay">
            <h2>Leather Bags</h2>
          </div>
        </a>
      </div>
      <div class="column_1_3">
        <a class="individual_block" style="background-image: url({{ 'homepage_story.jpg' | asset_url }});" href="/pages/our-history">
          <div class="individual_block_overlay">
            <h2>Our History</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="sc_row">
      <div class="column_1_3">
        <a class="individual_block" style="background-image: url({{ 'homepage_accessories.jpg' | asset_url }});" href="/collections/accessories">
          <div class="individual_block_overlay">
            <h2>Accessories</h2>
          </div>
        </a>
      </div>
      <div class="column_1_3">
        <a class="individual_block" style="background-image: url({{ 'homepage_monogram.jpg' | asset_url }});" href="/pages/monogram">
          <div class="individual_block_overlay">
            <h2>Monogram</h2>
          </div>
        </a>
      </div>
      <div class="column_1_3">
        <a class="individual_block" style="background-image: url({{ 'homepage_process.jpg' | asset_url }});" href="/pages/our-process">
          <div class="individual_block_overlay">
            <h2>Our Process</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="sc_row">
      <div class="column_1_2">
        <a class="individual_block" style="background-image: url({{ 'homepage_blog.jpg' | asset_url }});" href="/blogs/journal">
          <div class="individual_block_overlay">
            <h2>Journal</h2>
          </div>
        </a>
      </div>
      <div class="column_1_2">
        <a class="individual_block" style="background-image: url({{ 'homepage_retailers.jpg' | asset_url }});" href="/pages/retailers">
          <div class="individual_block_overlay">
            <h2>Retailers</h2>
          </div>
        </a>
      </div>  
    </div>
  </div>
</section>

<!-- Instagram -->

<div class="container">
  <div class="section clearfix">
    {% if settings.instagram_widget %}
      <div class="{% if settings.twitter_widget != blank %}eight{% else %}sixteen{% endif %} columns">
        <h2 class="center">Instagram</h2>
        <div id="instafeed" data-client-id="{{ settings.instagram_client_id | strip }}" data-count="{{ settings.instagram_count | strip }}"></div>
      </div>
    {% endif %}
  </div>
</div>