<div class="sc_container">

  <div class="page_content">
  	<h1 class="center">{{ page.title }}</h1>
	  <div class="feature_divider"></div>
    {{ page.content }}
    <div class="sc_row">
      <div class="column_1_3">
        <a href="http://www.bet.com/shows/f-in-fabulous/news/25-black-owned-businesses.html" target="_blank"><img src="{{ 'bet.png' | asset_url }}" /></a>
      </div>
      <div class="column_1_3">
        <a href="https://www.youtube.com/watch?v=aeqZYKsJAes" target="_blank"><img src="{{ 'essence.png' | asset_url }}" /></a>
      </div>
      <div class="column_1_3">
        <a href="http://www.bloomjournal.com/interviews/solomon/" target="_blank"><img src="{{ 'bloom.png' | asset_url }}" /></a>
      </div>
    </div>
  </div>

</div>