<div class="sc_container">

  <h1 class="center">{{ page.title }}</h1>
  <div class="feature_divider"></div>
  <div class="sc_row">
    <div class="column_1_2">
      <a class="individual_retailer" href="/pages/geoffrey-lewis">
        <img src="{{ 'geoffreylewis.jpg' | asset_url }}" />
        <p>Geoffrey Lewis | <span class="text_grey">Washington, DC</span></p>
      </a>
    </div>
    <div class="column_1_2">
      <a class="individual_retailer" href="/pages/reeves-bespoke">
        <img src="{{ 'Reevesbespoke.jpg' | asset_url }}" />
        <p>Reeves Bespoke | <span class="text_grey">New York, NY</span></p>
      </a>
    </div>
  </div>

</div>