<div class="sc_container">

  <h1 class="center">{{ page.title }}</h1>
  <div class="feature_divider"></div>
  <div class="sc_row">
    <div class="column_1_3">
      <a class="individual_retailer" href="/pages/fall2016lookbook">
        <img src="{{ 'fall2016_photo.jpg' | asset_url }}" />
        <p>2016 | <span class="text_grey">Fall Photos</span></p>
      </a>
    </div>
    <div class="column_1_3">
      <a class="individual_retailer" href="/pages/summer2016lookbookvideo">
        <img src="{{ 'summer2016_video.jpg' | asset_url }}" />
        <p>2016 | <span class="text_grey">Summer Video</span></p>
      </a>
    </div>
    <div class="column_1_3">
      <a class="individual_retailer" href="/pages/summer2016lookbook">
        <img src="{{ 'summer2016_photo.jpg' | asset_url }}" />
        <p>2016 | <span class="text_grey">Summer Photos</span></p>
      </a>
    </div>
  </div>

</div>