<div class="page clearfix">
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>
    {% if page.content contains "<!-- split -->" %}
      {{ page.content | split: "<!-- split -->" | last }}
    {% endif %}
    
    {% assign imgs = page.content | split: 'src="' %}
    {% for img in imgs %}
      {% assign src = img | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
    {% unless forloop.index == 1 %}
      <div class="one-third column {% cycle "alpha","","omega" %}">
        <a href="{{ src }}" title="{{ src.alt | escape }}" class="lightbox" rel="gallery" data-fancybox-group="{{ page.handle }}">
          <img src="{{ src }}"/>
        </a>
      </div>
      {% cycle clear_row: "","",'<br class="clear" />' %}
      {% endunless %}
    {% endfor %}
  </div>

 