<div class="sc_container">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/8eIkgCA2SHw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

  <div class="page_content">
  	<h1 class="center">{{ page.title }}</h1>
	  <div class="feature_divider"></div>
    {{ page.content }}
    <div class="flexslider sc_slider">
      <ul class="slides">
        <li><img src="{{ 'leather1.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'leather2.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'leather3.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'leather4.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'leather5.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'leather6.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'leather7.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'leather8.jpg' | asset_url }}" /></li>
      </ul>
    </div>
  </div>

</div>