<div class="sc_container">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/7XNWY6_18RA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

  <div class="page_content">
  	<h1 class="center">{{ page.title }}</h1>
	  <div class="feature_divider"></div>
    {{ page.content }}
    <div class="flexslider sc_slider">
      <ul class="slides">
        <li><img src="{{ 'process1.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'process2.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'process3.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'process4.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'process5.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'process6.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'process7.jpg' | asset_url }}" /></li>
        <li><img src="{{ 'process8.jpg' | asset_url }}" /></li>
      </ul>
    </div>
  </div>

</div>