{% layout none %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>  
   	 <meta charset="utf-8">
     <meta http-equiv="cleartype" content="on">
  	 <meta name="robots" content="index,follow">
      
     <title>{{ shop.name }}</title>
        
     {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
     {% endif %}
  
    {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.slideshow_subtitle_font contains 'Google' or settings.regular_font contains 'Google' %}
      <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{ settings.slideshow_subtitle_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
    {% endif %}

     <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 

    <!-- Stylesheets for Parallax 2.4 -->
  	{{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body id="password-page-bg">
<div class="controls">
  <div id="open-me">
    <a href="#">{{ 'general.password_page.login_form_heading' | t }}</a>
  </div>
</div>
    <div id="password-container" class="center">
      {% if settings.use_logo %}
      <div class="password-page-row">
        <div class="password-page-col">
            <img class="password-logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" data-src="{{ 'logo.png' | asset_url }}" />
        </div>
      </div>
      {% else %}
      <div class="password-page-row">
          <div class="password-page-col">
            <h1 class="logo">{{ shop.name }}</h1>
            <hr class="hr-small">
          </div>
      </div>
      {% endif %}
      <div class="password-page-row">
        <div class="password-page-col">
          <h2 class="password-page-message">{{ 'general.password_page.opening_soon' | t }}</h2>
        </div>
      </div>
      {% unless shop.password_message == blank %}
      <div class="password-page-row">
        <div class="password-page-col">
          <p class="password-message">{{ shop.password_message }}</p>
          <hr class="hr-small">
        </div>
      </div>
      {% endunless %}
      <div class="password-page-row">
        <div class="password-page-col">
            <h3 class="password-page-follow">{{ 'general.password_page.spread_the_word' | t }}</h3>
            {% if settings.twitter_link != '' %}
                  <a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" class="ss-password" rel="me" target="_blank">
                    &#xF611;
                  </a>              
                {% endif %}

                {% if settings.facebook_link != '' %}
                  <a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" class="ss-password" rel="me" target="_blank">
                    &#xF610;
                  </a>              
                {% endif %}

                {% if settings.google_link != '' %}
                  <a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" class="ss-password" rel="publisher" target="_blank">
                    &#xF613;
                  </a>              
                {% endif %}

                {% if settings.youtube_link != '' %}
                  <a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" class="ss-password" rel="me" target="_blank">
                    &#xF630;
                  </a>              
                {% endif %}

                {% if settings.vimeo_link != '' %}
                  <a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" class="ss-password" rel="me" target="_blank">
                    &#xF631;
                  </a>              
                {% endif %}

                {% if settings.pinterest_link != '' %}
                  <a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" class="ss-password" rel="me" target="_blank">
                    &#xF650;
                  </a>              
                {% endif %}

                {% if settings.tumblr_link != '' %}
                  <a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" class="ss-password" rel="me" target="_blank">
                    &#xF620;
                  </a>              
                {% endif %}

                {% if settings.instagram_link != '' %}
                  <a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" class="ss-password" rel="me" target="_blank"> 
                    &#xF641;
                  </a>              
                {% endif %}

                {% if settings.linkedin_link != '' %}
                  <a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" class="ss-password" rel="me" target="_blank">
                    &#xF612;
                  </a>              
                {% endif %}

                {% if settings.flickr_link != '' %}
                  <a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" class="ss-password" rel="me" target="_blank">
                    &#xF640;
                  </a>              
                {% endif %}

                {% if settings.email_link != '' %}
                  <a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" class="ss-password" target="_blank">
                    &#x2709;
                  </a>              
                {% endif %}
        </div>
      </div>
      <div class="password-page-row">
        <div class="password-page-col">
          <h3 class="password-page-follow">{{ 'general.password_page.signup_form_heading' | t }}</h3>
          {% include 'newsletter' %}
        </div>
      </div>
	<div class="password-page-row">
    	<div class="password-page-col">
    		<div class="password-footer">
     		  <div class="powered">        
  	  		  &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.<br>
      		  </div>
     		  <div class="shopify">
      	      {{ 'general.password_page.powered_by_shopify_html' | t }}
      		  </div>
     		</div>
   		 </div>
  	</div>
  </div>

<div class="overlay overlay-data">
<span class="close-me controls"><div class="pass-close ss-icon"><a href="#">␡</a></div></span>
<div class="modalbox">
  <div class="inputbox">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      {% if form.errors.count > 0 %}
        <script>
          $( document ).ready(function() {
            $( ".overlay" ).addClass('overlay-open');
          });
        </script>
      {% endif %}
      <label for="password">{{ 'general.password_page.login_form_password_label' | t }} </label>

      <input type="password" name="password" id="password" autofocus placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"/>
      <div class="actions">
        <input class="action_button sign_up" name="commit" type="submit" value="{{ 'general.password_page.login_form_submit' | t }}" />
      </div>
    {% endform %}
    
    <div id="owner">{{ 'general.password_page.admin_link_html' | t }} or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div> 
  </div>
</div>
</div>

<script>
$( document ).ready(function() {
  $( "#open-me" ).click(function() {
      $( ".overlay" ).addClass('overlay-open');
      $("#password").focus();
    });
  
  $( ".close-me" ).click(function() {
    $( ".overlay" ).removeClass( 'overlay-open' ); 
  });
});
</script>
</body>
  
</html>