<div id= "hiddenProductId" style="display:none;" data-product-id="{{product.id}}"></div>
<div class="sixteen columns">
  <div class="clearfix breadcrumb">
    <div class="nav_arrows">
      {% if collection.previous_product %}
        <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="ss-icon prev">&#x25C5;</a>
      {% endif %}

      {% if collection.next_product %}
        <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="ss-icon next">&#x25BB;</a>
      {% endif %}
    </div>

    {% if settings.product_breadcrumb %}
      <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
        &nbsp;<span class="icon-right-arrow"></span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          {% if collection %}
            <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a>
          {% else %}
            <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>     
          {% endif %}
        </span>
        &nbsp;<span class="icon-right-arrow"></span>
        {{ product.title }}
      </div>
    {% endif %}
  </div>
</div>

{% if settings.product_sidebar %}
  {% include 'sidebar' %}
  <div class="twelve columns">
    <div class="product-{{ product.id }}">
{% else %}
  <div class="sixteen columns">
    <div class="product-{{ product.id }}">
{% endif %}

	<div class="section product_section clearfix" itemscope itemtype="http://schema.org/Product">
	             
    <div class="{% if settings.product_sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} {% if settings.product_images_position == 'right' %}mobile_only{% endif %}">
      {% include 'product-images' %}
    </div>

    <div class="{% if settings.product_sidebar %}five{% else %}seven{% endif %} columns {% if settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">
      
      {% assign collection_handles = product.collections | map: 'handle' %}
      {% assign variant = product.selected_or_first_available_variant %}
      <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
      {% if settings.display_vendor %}
        <p class="vendor">
          <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
        </p>
      {% endif %}

      {% if variant.sku != blank and settings.display_sku %}
        <p class="sku">
          <span itemprop="sku">{{ variant.sku }}</span>
        </p>
      {% endif %}
      
      {% if settings.size_chart != blank %}
        <a href="#size-chart" class="lightbox size_chart">{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
      {% endif %}

      {% unless collection_handles contains 'coming-soon' %}
        <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
          <meta itemprop="seller" content="{{ shop.name | escape }}" />
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          <meta itemprop="itemCondition" content="New" />

          <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
          <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
            <span class="current_price {% if product.available == false %}hidden{% endif %}">              
              {% if variant.price > 0 %} 
                {{ variant.price | money }} 
              {% else %}
                {{ settings.free_price_text }}
              {% endif %}
            </span>
          </span>
          <span class="was_price">
          {% if variant.price < variant.compare_at_price and variant.available %}
            {{ variant.compare_at_price | money }}
          {% endif %}
          </span>
        </p>
        
        {% include 'product-notify-me' %}
      {% endunless %}

      {% if settings.product_description_position == "top" %}
        {% if product.description != blank %}
         <div class="description" itemprop="description">
           {{ product.description | split: '<!-- split -->' | first }}
         </div>
       {% endif %}
      {% endif %}
      
      {% unless collection_handles contains 'coming-soon' %}
        {% include 'product-form-line' with 'product' %}
      {% endunless %}  

      {% if settings.product_description_position == "bottom" %}
        {% if product.description != blank %}
         <div class="description" itemprop="description">
          {{ product.description | split: '<!-- split -->' | first }}
         </div>
        {% endif %}
      {% endif %}

      {% if settings.display_collections or settings.display_tags or settings.display_type %}
       <hr />
      {% endif %}
     
      <div class="meta">
        {% if settings.display_social_buttons %}
          <div class="share-button"></div>
        {% endif %}
        
        {% if settings.display_collections %}
          <p>
            <span class="label">{{ 'products.product.collections' | t }}:</span> 
            <span>
             {% for col in product.collections %}
               <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %} 
             {% endfor %}
           </span>
         </p>
        {% endif %}
      
        {% if settings.display_tags %}
           <p>
             {% for tag in product.tags %}
               {% if forloop.first %}
                 <span class="label">{{ 'products.product.tags' | t }}:</span> 
               {% endif %}

               {% unless tag contains 'meta-related-collection-' %}
                 <span>
                   <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                 </span>
               {% endunless %} 
             {% endfor %}
           </p>
        {% endif %}
      
       {% if settings.display_type %}
          <p>
            <span class="label">{{ 'products.product.product_types' | t }}:</span> 
            <span>{{ product.type | link_to_type }}</span>
          </p>
       {% endif %}
      </div>
    </div>
    
    {% if settings.product_images_position == 'right' %}   
      <div class="{% if settings.product_sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} mobile_hidden">          
        {% include 'product-images' %}
      </div>
    {% endif %}
  </div>

  {% comment %}
    {% if product.description contains "<!-- split -->"  %}
      <br class="clear" />
      <div class="section clearfix">
        <div class="description">
          {{ product.description | split: '<!-- split -->' | last }}
        </div>
      </div>
    {% endif %}
  {% endcomment %}

  </div>

  <!-- Product Features -->

  <section class="product_features">
    <h4 class="title center">Product Features</h4>
    <div class="feature_divider"></div>
    <div class="sc_row">
      <div class="column_1_2">
        <div class="product_features_blocks">
          <div class="feature_block active" data-title="feature1">
            <div class="feature_block_container">
              <img src="{{ 'feature_leather.jpg' | asset_url }}" />
              <div class="individual_block_overlay">
                <h2>Our Leather</h2>
              </div>
            </div>
          </div>
          <div class="feature_block" data-title="feature2">
            <div class="feature_block_container">
              <img src="{{ 'feature_hardware.jpg' | asset_url }}" />
              <div class="individual_block_overlay">
                <h2>Our Hardware</h2>
              </div>
            </div>
          </div>
          <div class="feature_block" data-title="feature3">
            <div class="feature_block_container">
              <img src="{{ 'feature_process.jpg' | asset_url }}" />
              <div class="individual_block_overlay">
                <h2>The Process</h2>
              </div>
            </div>
          </div>
          <div class="feature_block" data-title="feature4">
            <div class="feature_block_container">
              <img src="{{ 'feature_design.jpg' | asset_url }}" />
              <div class="individual_block_overlay">
                <h2>The Design</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column_1_2 product_features_column">
        <div class="product_features_text active" id="feature1">
          <h2>Our Leather</h2>
          <p>Solomon Chancellor leather is never corrected to remove any marks; we begin by using the most naturally beautiful hides available. While we utilize a series of different leather types based on the product specifications, the majority of our goods are made from Vegetable tanned American hides. With its smooth grain, rich color and lightweight feel, our American sourced leather creates sturdy but elegant pieces. To create a beautiful interior, each piece is lined with beautiful suede. As no two hides are completely alike, every handcrafted Solomon Chancellor product will have individual characteristics that enrich its patina and add to its uniqueness as it ages.</p>
        </div>
        <div class="product_features_text" id="feature2">
          <h2>Our Hardware</h2>
          <p>At Solomon Chancellor, we believe that uniqueness and simplicity are the key elements to elegance. We exemplify this with our signature purple Solomon Chancellor zipper. Made by unrivaled Swiss maker RiRi, our double zippers teeth are machined smooth and polished for years of perfect continuous use. Accompanying each zipper, specialized strap extenders streamline and enhance the brilliance of each piece. Our solid-brass chromed hardware, offers strength, durability, and reliability to last for generations as your leather ages.</p>
        </div>
        <div class="product_features_text" id="feature3">
          <h2>The Process</h2>
          <p>Solomon Chancellor set out to manufacture the best-handcrafted leather goods available in the world and honor its namesake’s legacy of excellence. Starting with the best leather in America, which will age beautifully, the finest American Craftsmen handcraft each piece into a work of art at our facility. Enhanced with our signature hardware pieces and stitched to perfection we create an unmatched companion that is built for generations. Our process starts with our care and ends in your care.</p>
        </div>
        <div class="product_features_text" id="feature4">
          <h2>The Design</h2>
          <p>Each Solomon Chancellor piece is designed to be the pinnacle of elegance and functionality. Each piece is designed to meet daily and travel needs to ensure that our beauty enriches your daily life. Designed by our founder in our New York Studio, each piece is imagined, sketched, and finalized with excellence in mind. Our patterns are made in house at our local facility before we begin our intricate creation process. At the end of the process, our designs transform into art. </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Related Products -->

  {% if settings.display_related_products %}
    {% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
      {% assign col = collection.handle %}
    {% else %}
      {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
      {% if tag contains 'meta-related-collection-' %}
        {% assign related_collection_handle = tag | remove: 'meta-related-collection-' %}
        {% if collections[related_collection_handle].all_products_count > 0 %}
          {% assign col = related_collection_handle %}
          {% assign collection = collections[col] %}
          {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}        
        {% endif %}
      {% endif %}
    {% endfor %}
      
    {% if col and collections[col].all_products_count > 0 %}
      {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
        <br class="clear" />
        <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
        <div class="feature_divider"></div>

        {% assign skip_product = product %}
        {% assign products = collections[col].products %}
        {% assign products_per_row = settings.products_per_row %}
        {% include 'product-loop' with settings.product_sidebar %}
      {% endif %}
    {% endif %}
  {% endif %}
</div>
<script type="text/javascript" src="{{ shop.secure_url }}/apps/vig/liquid_factory/scripttag.js?shop={{shop.permanent_domain}}"></script>