<div class="sc_row">
<div class="column_1_3"><img src="//cdn.shopify.com/s/files/1/1537/8257/files/about1.jpg?v=1476463992" alt=""></div>
<div class="column_2_3">
<p><span>Located two blocks from the White House, Geoffrey Lewis is one of the most well regarded custom shops in Washington D.C. Our family-run establishment is focused on providing all clients with first-class service and the highest quality hand-tailored clothing in an elegant, comfortable environment.</span></p>
<p><span>Our newly remodeled shop in downtown Washington D.C. provides clients a relaxing atmosphere devoid of sales pressure. The goal of our family is to create a wardrobe built for each client’s unique sartorial needs following a step-by-step process handed down for generations to ensure the perfect fit. </span>From modern silhouettes to intricate and exquisite design features, we hold old-world craftsmanship in high regard.</p>
<p>As in years past, our tradition of outstanding service continues. Geoffrey Lewis employs master tailors on-site, houses an extensive collection of fabric samples from which to choose, and can provide off-site consultation and fittings upon request.</p>
<p><strong>Address:</strong> 1433 H Street NW Washington DC, 20005</p>
<p><strong>Phone:</strong> 202/638-6088</p>
<p><strong>Email:</strong> glewistailors@gmail.com</p>
<p><strong>Hours:</strong> Monday-Friday 9:30 - 6:00 pm | Saturdays 11:00 - 4:00 pm | (Closed on Saturdays July - August)</p>
<a href="http://geoffreylewisltd.com/" target="_blank">Visit Geoffrey Lewis</a>
</div>
</div>