<meta charset="utf-8">
<div class="page-title"><strong>FREE MONOGRAMMING!</strong></div>
<div class="page-title">
<br>
<div class="page-title" style="text-align: left;">Add a personal touch with initials embossed into the leather on your order! You can have up to three initials embossed on your selected item for <strong>FREE!  </strong>
</div>
<div class="page-title" style="text-align: left;"><strong></strong></div>
<div class="page-title" style="text-align: left;"></div>
<br>
<div class="page-title" style="text-align: left;">Our experts will blind emboss your Solomon Chancellor item in the most appropriate place for the product style. That means the initials are heat-stamped into the leather - there is no color in the embossing process but some leathers will naturally get darker with heat stamping.  The advantage of blind embossing is that unlike gold or silver stamping, the color will not scratch off with time.  Only the color of the leather will show.  </div>
<div class="page-title" style="text-align: left;"></div>
<div class="page-title" style="text-align: left;"></div>
<div class="page-title" style="text-align: left;"></div>
<br>
<div class="page-title" style="text-align: left;"><span>To order embossing, simply enter a maximum of three letters that you want embossed before clicking "Order".  Initials can only be stamped using capital letters - lower case letters are not an option. If a lower case letter is entered, your stamping will still be in capital letters. The font is classic block lettering as shown in the image. For Bags and cases, the letters are approximately 1/4" tall so that they will be elegant instead of overbearing. For small leather goods, the letters will be 3/16" tall.  </span></div>
<div class="page-title" style="text-align: left;"><span></span></div>
<div class="page-title" style="text-align: left;"><span></span></div>
<div class="page-title" style="text-align: left;"></div>
<br>
<div class="page-title" style="text-align: left;">Please note, embossed items Cannot be returned. However, you can rest assured that embossing does not affect the warranty on your Solomon Chancellor piece!  </div>
<div class="page-title" style="text-align: left;"></div>
<br>
<div class="page-title" style="text-align: left;">If you have any questions, please contact us at info@solomonchancellor.com. We will be happy to assist you.</div>
<div class="page-title"></div>
<br>
<div></div>
</div>
<img src="https://cdn.shopify.com/s/files/1/0250/1707/files/StampingExamples.jpg?3539" alt="">