<meta charset="utf-8">
<div style="text-align: left;"><img alt="" src="//cdn.shopify.com/s/files/1/1250/1489/files/Our_Process_v1_2048x2048.jpg?9654677132846685310" style="float: none;"></div>
<div style="text-align: left;"></div>
<div style="text-align: left;">
<p class="p1"> </p>
<p class="p1"><span class="s1">Creating a masterpiece requires time, skill, a critical eye and an uncompromising commitment to doing it correctly or not at all. At Solomon Chancellor, our process begins and ends with care. Our artisans' time-honored methods transform the finest leathers into unique works of art. Solomon Chancellor strives for excellence in function, longevity and modern-classic style without compromising an authentic handmade aesthetic. Each timeless heirloom must meet our exacting standard before it is </span>embossed with our signature "4:7" diamond. The process is not complete until you have a functional keepsake of memories built for generations. </p>
</div>