<meta charset="utf-8">
<p>Production Time:</p>
<p>All products are made to order with a 4-7 week delivery time frame from date of order. Products will ship immediately upon manufacture. </p>
<p>Domestic Shipping: </p>
<p>Free expedited domestic shipping within the continental United States. Customers are responsible for any shipping costs on all exchanges and refunds. Solomon Chancellor is not responsible for any lost or stolen packages. Products are shipped with tracking.</p>
<p>International Shipping: </p>
<p>Contact Us for International Shipping: International shipping costs are additional and calculated at the time of purchase. Customers are also responsible for any import duties. Customers are responsible for any shipping costs on all exchanges and refunds.</p>