<h1 style="text-align: center;"><strong><span style="text-decoration: underline;">OUR PROCESS</span></strong></h1>
<p><strong><span style="text-decoration: underline;"><img src="//cdn.shopify.com/s/files/1/1250/1489/files/Our_Process_v1_1024x1024.jpg?v=1469712416" alt=""></span></strong></p>
<meta charset="utf-8">
<div>
<meta charset="utf-8">
<meta charset="utf-8">
<p style="text-align: justify;"><strong>Creating a masterpiece requires time, skill, and a critical eye. At Solomon Chancellor, our process begins and ends with care. Our artisans' time-honored methods transform the finest leathers into unique works of art. Solomon Chancellor strives for excellence in function, longevity and modern-classic style without compromising an authentic handmade aesthetic. Each timeless heirloom must meet our exacting standard before it is </strong><span><strong>embossed with our signature "4:7" diamond. The process is not complete until you have a functional keepsake of memories built for generations.</strong> </span></p>
</div>
<div></div>
<div></div>
<br>
<div></div>
<h1 style="text-align: center;"><strong><span style="text-decoration: underline;">OUR LEATHER</span></strong></h1>
<p><strong><span style="text-decoration: underline;"><img src="//cdn.shopify.com/s/files/1/1250/1489/files/OurLeather_3_1024x1024.jpg?v=1469712416" alt=""></span></strong></p>
<meta charset="utf-8"><meta charset="utf-8">
<p style="text-align: justify;"><strong>The best leather goods start with the best hides and tanneries. We source ours right here in America. Started in 1905 by Isadore Horween, the Horween Leather Company has been a standard bearer for quality American leather tanning for over 110 years. Today, the company's mission remains to produce the best leather in the world. Five generations later in the same Chicago facility, our tannery continues to innovate and produce ranges of exquisite leather. </strong></p>
<p style="text-align: justify;"><strong>Transforming raw leather into beautiful finished hides requires focusing on the small details. Our tannery employs traditional tannage techniques updated with modern applications to achieve dynamic leather. The intricate in house process requires true individual craftsmanship as the hides are dyed, tanned, glazed, and finished. They don't strive for speed or cost, but rather uncompromising excellence. We are proud to use their storied American craftsmanship in our pieces. </strong></p>
<p style="text-align: justify;"><strong>Each Solomon Chancellor piece is produced using high quality full-grain vegetable re-tanned leather. After the dying process, our leather is fat liquored to add essential, nourishing oils and waxes. Finally, an artisan hand-glazes each hide to reveal the a unique character and produce a smooth finish. The final product is a supple but sturdy leather that will age gracefully for generations.  </strong></p>
<p> </p>
<p style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/1250/1489/files/IMG_0084_4ed5721b-6718-4627-bad3-eff0cf4f18ee_1024x1024.jpg?v=1472440313" alt=""></p>
<strong>﻿</strong>