<div class="sc_row image_on_right">
<div class="column_1_2">
<p>Solomon C. Brown is the founder and designer of Solomon Chancellor, a leather goods line inspired by Washington D.C.’s U-Street Corridor. In the 1950s and 60s, Solomon’s grandfather, Solomon (Pop) Brown, was affectionately known as the Mayor of U-Street. The artistic epicenter that birthed the Harlem Renaissance, U-Street, known then as “Black Broadway” was a boulevard of academia, economic prowess, and urbane style. Langston Hughes, Ella Fitzgerald, and Duke Ellington shaped culture on those sidewalks.</p>
</div>
<div class="column_1_2"><img src="//cdn.shopify.com/s/files/1/1537/8257/files/Story1.jpg?v=1476974665" alt=""></div>
</div>
<div class="sc_row">
<div class="column_1_2">
<p><img src="//cdn.shopify.com/s/files/1/1537/8257/files/Story2.jpg?v=1476974698" alt=""></p>
</div>
<div class="column_1_2">
<p>Today, shoe-polish, brushstrokes, poetry and jazz tunes hang in the Corridor’s air like historic harmonies. Like U-Street, Solomon Chancellor seamlessly pairs the corporate and creative to craft transformative icons of functional sophistication. As a tribute to this Washington D.C. heritage, each piece within Solomon Chancellor’s collections is named after a city figure or landmark. Solomon Chancellor stands on the shoulders of U-street’s historic pursuit of excellence and Pop Brown’s legacy of service, community, and refinement.</p>
</div>
</div>
<div class="sc_row image_on_right">
<div class="column_1_2">
<p>Solomon never met his grandfather, though he feels eternally connected by their shared values, refined taste, and entrepreneurial spirit. Passing through 2 generations, Pop Brown’s wallet, a supple piece of exotic leather with a dark patina and hand-woven edges, as well as, one photograph have made their way to Solomon. Heirlooms such as these have a unique capability to unlock memories and capture personal essence without words. Solomon Chancellor seeks to exhibit just that: leather goods built for longevity and chosen for their ability to quietly tell stories between generations.</p>
</div>
<div class="column_1_2">
<p><img src="//cdn.shopify.com/s/files/1/1537/8257/files/Story3.jpg?v=1476974734" alt=""></p>
</div>
</div>
<div class="sc_row">
<div class="column_1_2">
<p><img src="//cdn.shopify.com/s/files/1/1537/8257/files/Story4.jpg?v=1476974845" alt=""></p>
</div>
<div class="column_1_2">
<p>A leader and business-owner, Pop Brown maintained a distinctly minimalist yet classic style. Solomon Chancellor continues his community legacy and simple yet distinguished mantra by crafting each timeless heirloom in America from the nation’s finest leather. Much like the jazz of Pop Brown’s lounge, no piece is the same; full grain leather made of superior hides is as unique as the genre’s striking improvisations. In the same way U-Street has re-emerged as a vibrant boulevard, we strive to evoke a new generation of style and refinement for the modern global professional.</p>
</div>
</div>