<meta charset="utf-8">
<p>At Solomon Chancellor, we are proud to offer the highest quality merchandise. If you are not delighted with your purchase from solomonchancellor.com , return the item (new, unused, unmarked, undamaged) in its original box within 14 days of receipt for a full refund, less shipping costs. We reserve the right to refuse returns if the conditions above are not met. If you purchased your item from one of our retailers, please contact that retailer for returns.  </p>
<p> </p>
<p>** Please note that <strong>NO CREDITS</strong> or <strong>REFUNDS</strong> can be issued for used, personalized, monogrammed, or damaged merchandise - such merchandise will be returned to the customer at their own expense. **</p>
<p><b style="font-size: 1.07143rem; letter-spacing: initial; line-height: 1.42857rem; text-transform: initial;">To return your item:</b></p>
<ul>
<li>
<span style="font-size: 1.07143rem; letter-spacing: initial; line-height: 1.42857rem; text-transform: initial;">Please e-mail </span><a href="mailto:info@solomonchancellor.com" style="font-size: 1.07143rem; letter-spacing: initial; line-height: 1.42857rem; text-transform: initial;">info@solomonchancellor.com</a><span style="font-size: 1.07143rem; letter-spacing: initial; line-height: 1.42857rem; text-transform: initial;"> to obtain a Return Authorization Email. No returns will be processed without a printed Return Authorization Email issued by our Returns department included within the package.  </span>
</li>
<li><span style="font-size: 1.07143rem; letter-spacing: initial; line-height: 1.42857rem; text-transform: initial;">Follow the instructions on the email and include your name, address, and full daytime contact information.</span></li>
<li><span style="font-size: 1.07143rem; letter-spacing: initial; line-height: 1.42857rem; text-transform: initial;">Pack your new, unused, unmarked, and undamaged merchandise in their packaging and original shipping box. </span></li>
<li>
<p>Please note that all items must be individually boxed. Use care in your packing method. Shoulder straps should be placed inside the item. All handles must be positioned away from the body of the case to prevent impressions in the leather. Totes and handbags must have their straps tucked into the item. Items that are damaged because the shoulder strap was not placed inside the bag will not be credited.</p>
</li>
<li>
<p>Insure your package for the full value of the merchandise and return it to us using the delivery service of your choice. Jack Georges will not be responsible for packages lost or damaged during shipping. The responsibility will be that of the carrier. As such, we recommend that you ship your item in a manner that will allow you to track your shipment (UPS, FedEx, Express Mail, etc.)</p>
</li>
<li>
<p>Credit will be issued if all criteria is met. Any shipping costs paid will not be refunded. While credits are issued to your credit card company immediately upon acceptance, please allow time for your credit card company to show the transaction.</p>
</li>
</ul>