/*=====================
VARIABLES
=====================*/

$black: #000000;
$white: #FFFFFF;
$grey: #3D3D3D;
$lightgrey: #F2F2F2;

/*================
MEDIA QUERIES
================*/

@mixin mobile() {
    @media all and (max-width: 480px){
        @content;
    }
}

@mixin mobile_landscape() {
    @media all and (max-width: 568px) {
        @content;
    }
}

@mixin tablet() {
    @media all and (max-width: 767px){
        @content;
    }
}

@mixin tablet_landscape() {
    @media all and (max-width: 1024px){
        @content;
    }
}

@mixin desktop() {
    @media all and (min-width: 1280px){
        @content;
    }
}

/*==================================
GRID
==================================*/

.sc_container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.sc_container_small {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.sc_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -7.5px;
}

.sc_row.image_on_right .column_1_2:first-child {
    @include tablet {
        order: 1;
    }
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
    position: relative;
    margin: 0px 0px 15px;
    padding: 0px 7.5px;
    box-sizing: border-box;

    img {
        display: block;
        width: 100%;
    }
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include tablet {
        width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
        width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include tablet {
        width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
        width: 50%;
    }

    @include mobile_landscape {
        width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
        width: 100%;
    }
}

/*=====================
GENERAL
=====================*/

div.content {
    padding: 50px 0px 0px 0px;
}

.page_title {
    max-width: 700px;
}

/*=====================
FONTS
=====================*/

body {
    font-family: Questrial;
}

p {
    text-align: justify;
}

h1,h2,h3 {
    font-family: Questrial;
    font-weight: lighter;
}

h1 {
    font-size: 30px;

    &.headline {
        font-weight: lighter;
    }

    @include mobile_landscape {
        font-size: 20px;
    }
}

h3 {
    font-size: 16px;
}

/*=====================
COMPONENTS
=====================*/

// Flexslider

.sc_slider .flex-control-nav {
    @include mobile_landscape {
        display: none;
    }
}

/*=====================
HELPERS
=====================*/

.text_grey {
    color: $grey;
}

/*=====================
MAIN HEADER
=====================*/

.sc_main_header {
    @include tablet {
        display: none;
    }
}

// Email Signup

.sc_header_email {
    display: flex;
    justify-content: flex-end;
    background: $black;
    padding: 10px;
    font-family: Questrial;
}

.sc_header_email form {
    margin-bottom: 0 !important;
}

.sc_header_email p.message {
    margin: 0;
}

.sc_header_email input.contact_email {
    height: auto;
    min-height: auto;
    margin: 0;
    padding: 3px 5px;

    @media only screen and (max-width: 959px) {
        width: auto !important;
    }
}

.sc_header_email input.action_button.sign_up {
    background: $lightgrey;
    padding: 4px 10px;
    color: $black;
    font-family: Questrial;

    @media only screen and (max-width: 959px) {
        width: auto !important;
        margin-bottom: 0 !important;
    }
}

// Logo

.sc_header_logo {
	padding: 10px 0px;
}

.sc_header_logo a {
    width: 300px;
    margin: 0 auto;
    display: block;

    img {
    	display: block;
    	width: 100%;
    }
}

// Mobile Header

#header a.mobile_logo img {
    @include tablet {
        max-width: 153px;
        max-height: 37px;
        padding-top: 0px;
    }
}

// Navigation

.sc_header_navigation {
	border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    display: flex;
    justify-content: center;
    padding: 0px 50px;
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

ul.main_navigation, ul.main_navigation_icons {
    margin: 0;
    list-style: none;
}

ul.main_navigation li.top_level_link {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    margin: 0;

    &:first-child {
    	padding: 10px 20px 10px 0px;

        @include tablet_landscape {
            padding: 10px 5px 10px 0px;
        }
    }

    @include tablet_landscape {
        padding: 10px 5px;
    }
}

ul.main_navigation_icons {
	display: flex;
	align-items: center;
}

ul.main_navigation_icons li {
    display: inline-block;
    padding: 10px 5px;
    margin: 0;
    line-height: normal;

    &:last-child {
    	padding: 10px 0px 10px 5px;
    }
}

// Sub Nav

ul.main_navigation .sub_nav {
    position: absolute;
    background: rgba(255,255,255,1);
    border: 1px solid $black;
    z-index: 50;
    top: 48px;
    display: none;
}

.sub_nav ul {
    margin: 0;
    list-style: none;
    width: 250px;
}

.sub_nav ul li {
	margin: 0;

	&:last-child a {
		border: 0;
	}
}

.sub_nav ul li a {
    padding: 5px 10px;
    margin: 0;
    display: block;
    border-bottom: 1px solid $black;
    color: $black;
    transition: all .3s ease-in-out;

    &:hover {
    	background: $black;
    }
}

.sub_nav ul li:hover a {
	color: $white;
}

/*=====================
HOMEPAGE
=====================*/

// Mobile Name

h2.mobile_name {
    display: none;
    text-align: center;
    padding-top: 20px;
    margin: 0;

    @include tablet {
        display: block;
    }
}

// Homepage Blocks

section.homepage_blocks {
    padding: 50px 0px;

    @include tablet {
        padding: 20px 0px;
    }
}

.individual_block {
    background-size: cover;
    display: block;
    background-position: center;
    height: 350px;
    position: relative;

    @include mobile_landscape {
        height: 250px;
    }
}

.individual_block_overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all .3s ease-in-out;

    h2 {
        color: $white;
        margin: 0;
    }
}

.individual_block:hover .individual_block_overlay {
    opacity: 0;
}

/*=====================
PROCESS / LEATHER TEMPLATE
=====================*/

.page_content {
    padding: 50px 0px;
}

.content_with_columns {
    column-count: 2;
    margin-bottom: 50px;

    @include tablet {
        column-count: 1;
    }
}

/*=====================
PRODUCT
=====================*/

// Details

h1.product_name {
    font-size: 30px;
}

.tabs-content li {
    margin-bottom: 0;
}

// Product Features Blocks

.product_features_blocks {
    display: flex;
    box-sizing: border-box;
    flex-flow: row wrap;
}

.feature_block {
    width: 50%;
    box-sizing: border-box;
    padding: 0px 10px 10px 0px;
    cursor: pointer;

    @include tablet {
        width: 100%;
    }
}

.feature_block_container {
    position: relative;
}

.feature_block.active, .feature_block:hover {

    .individual_block_overlay {
        background: rgba(0,0,0,0);
    }

}

.product_features_text {
    display: none;

    &.active {
        display: block;
    }
}

/*=====================
BLOG
=====================*/

header.blog_header {
    display: flex;
    flex-flow: row wrap;
}

.blog_header_image {
    width: 50%;

    img {
        display: block;
    }

    @include tablet {
        width: 100%;
    }
}

.blog_header_text {
    width: 50%;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        color: $white;
    }

    @include tablet {
        width: 100%;
    }
}

.article_image img {
    display: block;
    width: 100%;
}

/*=====================
RETAILERS
=====================*/

.individual_retailer p {
    margin-bottom: 0;
    padding: 10px 0px;
    text-align: center;
}

/*=====================
FOOTER
=====================*/

footer.footer {
    text-align: center;
    padding: 0px;
    background: none;
    border: 0;
}

.footer .footer_top {
    background: $black;
    text-align: center;
    padding: 60px 0 30px;

    p, a, h2, h3 {
        color: $white;
    }
}

// Menu

.footer_top .footer_menu li {
    display: block;
    padding-right: 0px;
    margin: 0;
}

.footer_top .footer_menu li a {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: lighter;

    &:hover {
        color: $lightgrey;
    }
}

// Newsletter

.footer_top input.contact_email[type="email"] {
    width: 100%;
    font-family: Questrial;
    font-size: 14px !important;
    background: transparent;
    color: $white;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    text-align: center;
}

.footer_top input.sign_up[type="submit"] {
    width: 100%!important;
    display: none;
    background: transparent;
    margin: 0;
    color: white;
    border-bottom: 1px solid;
    text-transform: uppercase;
    font-family: Questrial;
    font-size: 14px !important;
    border-radius: 0;
    outline: 0;
}

// Footer Bottom

section.footer_bottom {
    background: $white;
    padding: 10px 0px;
}

section.footer_bottom a {
    max-width: 80px;
    display: block;
    width: 90%;
    margin: 0 auto;

    img {
        width: 100%;
    }

    @include tablet {
        max-width: 180px;
    }
}

.desktop_footer_logo {
    display: block;

    @include tablet {
        display: none;
    }
}

.mobile_footer_logo {
    display: none; 
    @include tablet {
        display: block;
    }
}