<h3 style="text-align: center;">For Press Inquiries, please download our Press Kit <strong><span style="text-decoration: underline;"><a href="https://cdn.shopify.com/s/files/1/1250/1489/files/SC_2016_Press_Kit.pdf?7602886206590535498">HERE!</a></span></strong>
</h3>